<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>核心信息审核</title>
    <%include("/admin/include/cssjs.html"){}%>
</head>
<body>
<div class="page-wrapper tion-house special_padd">
    <div class="table-seach-box">

    </div>
    <div class="switch_tab">
        <ul class="fl">
            <li class="active">
                核心信息审核
            </li>
            <li class="">
                核心信息审核
            </li>
        </ul>


    </div>


    <!--				<div class="page-wrapper-hread">
                        核心信息审核
                    </div>-->



    <div class="page-wrapper-cont">
        <!--<div class="panel-heading">
            <div class="col-lg-12">
                房源审核列表
            </div>
            <div style="clear:both"></div>
        </div>-->

        <!--表格-->
        <table class="ui-check-table">
            <thead>
            <tr>
                <td>审核状态</td>
                <td>房源编号</td>
                <td>商圈</td>
                <td>小区名称</td>
                <td>栋座</td>
                <td>单元</td>
                <td>楼层</td>
                <td>门牌号</td>
                <td>申请时间</td>
                <td>审核时间</td>
                <td>申请人</td>
                <td>申请人电话</td>
                <td>申请部门</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>未审核</td>
                <td><a href='###'>HR12345678</a></td>
                <td>高桥</td>
                <td><a href='###'>上海国际</a></td>
                <td>G3</td>
                <td>1</td>
                <td>1</td>
                <td>1027</td>
                <td>2017-02-20&nbsp;&nbsp;20:10:18</td>
                <td></td>
                <td>李丽</td>
                <td>15388075120</td>
                <td>新环境武广豪宅部C组</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td><a href='###'>HR12345678</a></td>
                <td>高桥</td>
                <td><a href='###'>上海国际</a></td>
                <td>G3</td>
                <td>1</td>
                <td>1</td>
                <td>1027</td>
                <td>2017-02-20&nbsp;&nbsp;20:10:18</td>
                <td></td>
                <td>李丽</td>
                <td>15388075120</td>
                <td>新环境武广豪宅部C组</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td><a href='###'>HR12345678</a></td>
                <td>高桥</td>
                <td><a href='###'>上海国际</a></td>
                <td>G3</td>
                <td>1</td>
                <td>1</td>
                <td>1027</td>
                <td>2017-02-20&nbsp;&nbsp;20:10:18</td>
                <td></td>
                <td>李丽</td>
                <td>15388075120</td>
                <td>新环境武广豪宅部C组</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td><a href='###'>HR12345678</a></td>
                <td>高桥</td>
                <td><a href='###'>上海国际</a></td>
                <td>G3</td>
                <td>1</td>
                <td>1</td>
                <td>1027</td>
                <td>2017-02-20&nbsp;&nbsp;20:10:18</td>
                <td></td>
                <td>李丽</td>
                <td>15388075120</td>
                <td>新环境武广豪宅部C组</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td><a href='###'>HR12345678</a></td>
                <td>高桥</td>
                <td><a href='###'>上海国际</a></td>
                <td>G3</td>
                <td>1</td>
                <td>1</td>
                <td>1027</td>
                <td>2017-02-20&nbsp;&nbsp;20:10:18</td>
                <td></td>
                <td>李丽</td>
                <td>15388075120</td>
                <td>新环境武广豪宅部C组</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td><a href='###'>HR12345678</a></td>
                <td>高桥</td>
                <td><a href='###'>上海国际</a></td>
                <td>G3</td>
                <td>1</td>
                <td>1</td>
                <td>1027</td>
                <td>2017-02-20&nbsp;&nbsp;20:10:18</td>
                <td></td>
                <td>李丽</td>
                <td>15388075120</td>
                <td>新环境武广豪宅部C组</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td><a href='###'>HR12345678</a></td>
                <td>高桥</td>
                <td><a href='###'>上海国际</a></td>
                <td>G3</td>
                <td>1</td>
                <td>1</td>
                <td>1027</td>
                <td>2017-02-20&nbsp;&nbsp;20:10:18</td>
                <td></td>
                <td>李丽</td>
                <td>15388075120</td>
                <td>新环境武广豪宅部C组</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td><a href='###'>HR12345678</a></td>
                <td>高桥</td>
                <td><a href='###'>上海国际</a></td>
                <td>G3</td>
                <td>1</td>
                <td>1</td>
                <td>1027</td>
                <td>2017-02-20&nbsp;&nbsp;20:10:18</td>
                <td></td>
                <td>李丽</td>
                <td>15388075120</td>
                <td>新环境武广豪宅部C组</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td><a href='###'>HR12345678</a></td>
                <td>高桥</td>
                <td><a href='###'>上海国际</a></td>
                <td>G3</td>
                <td>1</td>
                <td>1</td>
                <td>1027</td>
                <td>2017-02-20&nbsp;&nbsp;20:10:18</td>
                <td></td>
                <td>李丽</td>
                <td>15388075120</td>
                <td>新环境武广豪宅部C组</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td><a href='###'>HR12345678</a></td>
                <td>高桥</td>
                <td><a href='###'>上海国际</a></td>
                <td>G3</td>
                <td>1</td>
                <td>1</td>
                <td>1027</td>
                <td>2017-02-20&nbsp;&nbsp;20:10:18</td>
                <td></td>
                <td>李丽</td>
                <td>15388075120</td>
                <td>新环境武广豪宅部C组</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>

            </tbody>
        </table>

        <!--分页-->
        <div class="pager" data-pager="1001">
            <a href="javascript:;" class="pager-btn" data-p="1">首页</a>
            <a href="javascript:;" class="pager-item" data-p="1">1</a>
            <a href="javascript:;" class="pager-item active" data-p="2">2</a>
            <a href="javascript:;" class="pager-item" data-p="3">3</a>
            <a href="javascript:;" class="pager-item" data-p="4">4</a>
            <a href="javascript:;" class="pager-item" data-p="5">5</a>
            <a href="javascript:;" class="pager-item" data-p="6">6</a>
            <a href="javascript:;" class="pager-btn" title="20" data-p="20">尾页</a>
            <a href="javascript:;">转到</a><input type="text" class="pager-input" value="2">
            <a href="javascript:;" class="pager-goto-btn pager-btn pager-goto">跳转</a>
        </div>
    </div>

</div>

</body>
<script>
    require(['']);
</script>
</html>