<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Xenon Boostrap Admin Panel" />
		<meta name="author" content="" />
		<title></title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/custom.css" />
	    <link rel="stylesheet" href="font/css/iconfont.css">
	</head>
	<body>
		<div class="row bkgroud_white">
			<div class="nav_logo fl txt_right">
				<img src="img/cattion/bmslogo.png">
			</div>
			<div class="fl navbar-header">
				<i class="iconfont">
					
				</i>
				<div class="nav_column">
					<a href="###" class="fl">主页</a>
					<a href="###" class="fl">全部房源(售) </a>
					<a href="###" class="fl">更多 <img src=""></a>
				</div>
			</div>
			<div class="fr navbar-top-links navbar-right">
				<label class="navbar_wel fl">上午好,袁丁</label>
				<span class="middle_img fl navbar_post"><img src="" class="middle_img">长沙-网络技术研发部-部门职员<img src="" class="middle_img"></span>
				<ul class="fr navbar_icon">
					<li>
						
					</li>
				</ul>
			</div>
		</div>
		<div class="row content">
			<div class="navbar-default active">
				<ul>
					<li>
						主页
					</li>
					<li class="active">
						业务管理
					</li>
					<li>
						小区
					</li>
					<li>
						应用
					</li>
					<li>
						房屋托管
					</li>
					<li>
						决策分析
					</li>
					<li>
						XHJ后台管理
					</li>
				</ul>
			</div>
			<div class="page-wrapper tion-house special_padd">
				<div class="page-wrapper-hread">
					基本信息
				</div>
				<div class="page-wrapper-cont">
					<div class="row">
						<div class="input-label width100 txt_right fl"><span class="red">*</span>房屋名称:</div>
						<div class="from_input fl width250">
							<div class="seach_selects">
								<div class="seach_haveSelM">
									<span>区域</span>
									<em></em>
								</div>
								<div class="seach_priceSel">
									<div class="seach_box">
										<input type="text" class="seach_input">
									</div>
									<ul class="seach_hd">
										<li>滨海区</li>
										<li>北塘区</li>
										<li>南长区</li>
										<li>锡山区</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="from_input fl width170">
							<div class="ptf_seaSelectM">
								<div class="ptf_haveSelM">
									<span>请选择</span>
									<em></em>
								</div>
								<div class="ptf_priceSel">
									<ul>
										<li>滨海区</li>
										<li>北塘区</li>
										<li>南长区</li>
										<li>锡山区</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="from_input fl width170">
							<div class="ptf_seaSelectM">
								<div class="ptf_haveSelM">
									<span>请选择</span>
									<em></em>
								</div>
								<div class="ptf_priceSel">
									<ul>
										<li>滨海区</li>
										<li>北塘区</li>
										<li>南长区</li>
										<li>锡山区</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="from_input fl width170">
							<div class="ptf_seaSelectM">
								<div class="ptf_haveSelM">
									<span>请选择</span>
									<em></em>
								</div>
								<div class="ptf_priceSel">
									<ul>
										<li>滨海区</li>
										<li>北塘区</li>
										<li>南长区</li>
										<li>锡山区</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="from_input fl width170">
							<div class="ptf_seaSelectM">
								<div class="ptf_haveSelM">
									<span>请选择</span>
									<em></em>
								</div>
								<div class="ptf_priceSel">
									<ul>
										<li>滨海区</li>
										<li>北塘区</li>
										<li>南长区</li>
										<li>锡山区</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="from_input fl width170">
							<div class="ptf_seaSelectM">
								<div class="ptf_haveSelM">
									<span>请选择</span>
									<em></em>
								</div>
								<div class="ptf_priceSel">
									<ul>
										<li>滨海区</li>
										<li>北塘区</li>
										<li>南长区</li>
										<li>锡山区</li>
									</ul>
								</div>
							</div>
						</div>
						<button class="dress_btn">地址申请</button>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>城市:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>城区:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>商圈:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>建筑年代:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>用途:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>朝向:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>委托类型:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>类型:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>装修标t准:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>产权面积:</div>
							<div class="from_input">
								<input type="text" class="input-box pholder_color_cc" placeholder="请输入房源名称或小区首字母">
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>总价:</div>
							<div class="from_input">
								<input type="text" class="input-box pholder_color_cc" placeholder="请输入房源名称或小区首字母">
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>楼层:</div>
							<div class="from_input">
								<input type="text" class="input-box pholder_color_cc" placeholder="请输入房源名称或小区首字母">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>户型:</div>
							<div class="from_input">
								<input type="text" class="input-box pholder_color_cc" placeholder="请输入房源名称或小区首字母">
								<span class="input_txt_rt">㎡</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>盘源类型:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>归属门店:</div>
							<div class="from_input">
								<div class="ptf_seaSelectM">
									<div class="ptf_haveSelM">
										<span>请选择</span>
										<em></em>
									</div>
									<div class="ptf_priceSel">
										<ul>
											<li>滨海区</li>
											<li>北塘区</li>
											<li>南长区</li>
											<li>锡山区</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>户型:</div>
							<div class="from_input belt_btn">
								<input type="text" class="input-box pholder_color_cc" placeholder="请输入房源名称或小区首字母">
							</div>
							<div class="input_btn fr">
								推荐专家
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>业主姓名:</div>
							<div class="form-table selput_box">
								<div class="from_input selput_sel">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>男</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>男</li>
												<li>女</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="from_input selput_input">
									<input type="text" class="input-box pholder_color_cc" placeholder="请输入房源名称或小区首字母">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>联系电话:</div>
							<div class="form-table selput_box">
								<div class="from_input selput_sel">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>本人</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>男</li>
												<li>女</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="from_input selput_input">
									<input type="text" class="input-box pholder_color_cc" placeholder="请输入房源名称或小区首字母">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>委托来源:</div>
							<div class="form-table selput_box">
								<div class="from_input selput_sel">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>新环境</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>男</li>
												<li>女</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="from_input selput_input">
									<input type="text" class="input-box pholder_color_cc" placeholder="请输入房源名称或小区首字母">
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<span>押</span>
							<input type="text" class="input-box" style="width: 50px;">
							<span>付</span>
							<input type="text" class="input-box" style="width: 50px;">
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>单选按钮:</div>
							<div class="form-table selput_box">
								<div class="check_icon_box fl">
									<span class="iconfont icon-danxuanxuanzhong fl"></span><label class="fl">男</label>
								</div>
								<div class="check_icon_box fl">
									<span class="iconfont icon-danxuanweixuanzhong fl"></span><label class="fl">女</label>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="input-label width100 txt_right fl"><span class="red">*</span>单选按钮:</div>
							<div class="form-table selput_box">
								<div class="check_icon_box fl">
									<div class="raido_icon_box active fl">
										<span class="iconfont icon-gouxuan"></span>
									</div>
									<label class="fl">男</label>
								</div>
								<div class="check_icon_box fl">
									<div class="raido_icon_box fl">
										<span class="iconfont icon-gouxuan"></span>
									</div>
									<label class="fl">女</label>
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<div class="col-lg-3">
								家电名称
							</div>
							<div class="col-lg-3">
								家电数量
							</div>
							<div class="col-lg-3">
								家电品牌
							</div>
							<div class="col-lg-3 text-center">
								<div class="input_add_new fl text-center"><span class="iconfont icon-tianjia "></span></div>
								<div class="input_detel fl text-center"><span class="iconfont icon-shanchu "></span></div>
							</div>
							<div style="clear:both"></div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 text-center">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 text-center">
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<div class="col-lg-3">
								家电名称
							</div>
							<div class="col-lg-3">
								家电数量
							</div>
							<div class="col-lg-3">
								家电品牌
							</div>
							<div class="col-lg-3 text-center">
								<div class="input_add_new fl text-center"><span class="iconfont icon-tianjia "></span></div>
								<div class="input_detel fl text-center"><span class="iconfont icon-shanchu "></span></div>
							</div>
							<div style="clear:both"></div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 text-center">
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="ptf_seaSelectM">
										<div class="ptf_haveSelM">
											<span>请选择</span>
											<em></em>
										</div>
										<div class="ptf_priceSel">
											<ul>
												<li>滨海区</li>
												<li>北塘区</li>
												<li>南长区</li>
												<li>锡山区</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 text-center">
								</div>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							房屋描述（该描述将会在XHJ.com展示给客户,详细,真是客观的描述,能获得更多的客户电话）
							<div style="clear:both"></div>
						</div>
						<div class="panel-body">
							<div class="nav_box">
								<ul>
									<li>
										价格分析+
									</li>
									<li>
										价格分析+
									</li>
									<li>
										价格分析+
									</li>
									<li>
										价格分析+
									</li>
									<li>
										价格分析+
									</li>
								</ul>
							</div>
							<div style="clear: both;"></div>
							<p class="tishi_new"><span>提示：</span> 可以点击添加，对房源进行更加详细的描述</p>
							<h4 class="tishi_bt"><span>*</span> <label>房源亮点</label> （介绍本房源具有竞争力的卖点，例如：房本满两年、新装修、楼层好等）</h4>
							<div style="clear: both;"></div>
							<div class="col-md-10">
	                          <textarea id="contentSimple1" name="content" class='form-control kindeditorSimple1' style="height:150px;visibility:hidden;">Hello, world!</textarea>
	                        </div>
	                        <div style="clear: both;"></div>
	                        <h4 class="tishi_bt"><span>*</span> <label>户型介绍 </label>（介绍本房源的户型情况，例如：户型周正、采光好、有阳台、赠送面积等）</h4>
	                        <div class="col-md-10">
	                          <textarea id="contentSimple1" name="content" class='form-control kindeditorSimple1' style="height:150px;visibility:hidden;">Hello, world!</textarea>
	                        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div tabindex="0" class="ui-popup-backdrop dis"></div>
        <div tabindex="-1" class="ui-popup ui-popup-modal ui-popup-show ui-popup-focus ui-back-model back-model-440 dis" role="alertdialog" >
            <div i="dialog" class="ui-dialog">
                <div class="ui-dialog-arrow-a"></div>
                <div class="ui-dialog-arrow-b"></div>
                <table class="ui-dialog-grid">
                    <tbody>
                        <tr>
                            <td i="header" class="ui-dialog-header">
                                <button i="close" class="ui-dialog-close" title="cancel">×</button>
                                <div i="title" class="ui-dialog-title" >委托书</div>
                            </td>
                        </tr>
                        <tr>
                            <td i="body" class="ui-dialog-body">
                                <div i="content" class="ui-dialog-content">
                       				<div class="row">
										
				                        <div class="col-xs-12 ui-two">
											<div class="input-label width100 txt_right fl">业主电话</div>
											<div class="from_input rifi_code fl">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
											<button class="Pro-btn btn-success">获取验证码</button>
										</div> 
				
				                        <div class="col-xs-12 ui-two">
											<div class="input-label width100 txt_right fl">验证码</div>
											<div class="from_input">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入验证码">
											</div>
											<p class="red">(请找业主获取验证码,30分钟内有效)</p>
										</div>
									</div>
                 				</div>
              			 	</td>
                        </tr>
                        <tr>
                            <td i="footer" class="ui-dialog-footer">
                                <div i="statusbar" class="ui-dialog-statusbar"></div>
                                <div i="button" class="ui-dialog-button">
                                    <button type="button" i-id="ok" autofocus="" class="ui-dialog-autofocus btn btn-secondary">保存</button>
                                    <button type="button" i-id="cancel" class="btn btn-gray ">取消</button>                                        
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div tabindex="-1" class="ui-popup ui-popup-modal ui-popup-show ui-popup-focus ui-back-model dis back-model-800" role="alertdialog" >
            <div i="dialog" class="ui-dialog">
                <div class="ui-dialog-arrow-a"></div>
                <div class="ui-dialog-arrow-b"></div>
                <table class="ui-dialog-grid">
                    <tbody>
                        <tr>
                            <td i="header" class="ui-dialog-header">
                                <button i="close" class="ui-dialog-close" title="cancel">×</button>
                                <div i="title" class="ui-dialog-title" >钥匙登记</div>
                            </td>
                        </tr>
                        <tr>
                            <td i="body" class="ui-dialog-body">
                                <div i="content" class="ui-dialog-content hf_box">
                       				<div class="row">
                       					<h3>登记详情</h3>
				                        <div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">房源编号</div>
											<div class="from_input">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">协议编号</div>
											<div class="from_input">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">钥匙套数</div>
											<div class="from_input rifi_code fl">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
											<div class="check_icon_box fl">
												<div class="raido_icon_box active fl">
													<span class="iconfont icon-gouxuan"></span>
												</div>
												<label class="fl">男</label>
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">钥匙把数</div>
											<div class="from_input">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">所属店面</div>
											<div class="from_input">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">所属人：</div>
											<div class="from_input">
												<div class="ptf_seaSelectM">
													<div class="ptf_haveSelM">
														<span>请选择城市</span>
														<em></em>
													</div>
													<div class="ptf_priceSel">
														<ul>
															<li>滨海区</li>
															<li>北塘区</li>
															<li>南长区</li>
															<li>锡山区</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">签约时间</div>
											<div class="from_input">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">当前状态：</div>
											<div class="from_input">
												<div class="ptf_seaSelectM">
													<div class="ptf_haveSelM">
														<span>请选择城市</span>
														<em></em>0
													</div>
													<div class="ptf_priceSel">
														<ul>
															<li>滨海区</li>
															<li>北塘区</li>
															<li>南长区</li>
															<li>锡山区</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">钥匙箱号</div>
											<div class="from_input">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">上传附件：</div>
											<div class="from_input">
												<button class="Pro-btn btn-success">点击上传</button>
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">业主电话</div>
											<div class="from_input rifi_code_inphone fl">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
											<button class="Pro-btn btn-success">获取验证码</button>
										</div>
				                        <div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">验证码</div>
											<div class="from_input">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入验证码">
											</div>
											<p class="red">(请找业主获取验证码,30分钟内有效)</p>
										</div>
										<div class="col-xs-12 red">
											<p>请按照正确流程操作：</p>
											<p>1、首先电话与业主沟通（告之业主稍后将收到新环境官方平台"1069063410981"发过来的验证短信并把验证码发过来，短信格式为【新环境房屋网】您好。</p>
											<p>您本次的钥匙验证码是：XXXX</p>
											<p>然后再点击发送验证码按钮;</p>
											<p>最后将验证码输入并提交</p>
											<p>(切记一定要提前跟业主协商,协商好再发验证码,中途不要退出整个系统平台)</p>
										</div>
										<div class="col-xs-12 ui-two">
											<div class="input-label width100 txt_right fl">备注</div>
											<textarea class="ui_tarea">
												
											</textarea>
										</div>
									</div>
                 				</div>
              			 	</td>
              			</tr>
                        <tr>
                            <td i="footer" class="ui-dialog-footer">
                                <div i="statusbar" class="ui-dialog-statusbar"></div>
                                <div i="button" class="ui-dialog-button">
                                    <button type="button" i-id="ok" autofocus="" class="ui-dialog-autofocus btn btn-secondary">保存</button>
                                    <button type="button" i-id="cancel" class="btn btn-gray ">取消</button>                                        
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
		<div tabindex="-1" class="ui-popup ui-popup-modal ui-popup-show ui-popup-focus ui-back-model back-model-440 dis" role="alertdialog" >
            <div i="dialog" class="ui-dialog">
                <div class="ui-dialog-arrow-a"></div>
                <div class="ui-dialog-arrow-b"></div>
                <table class="ui-dialog-grid">
                    <tbody>
                        <tr>
                            <td i="header" class="ui-dialog-header">
                                <button i="close" class="ui-dialog-close" title="cancel">×</button>
                                <div i="title" class="ui-dialog-title" >查看详情</div>
                            </td>
                        </tr>
                        <tr>
                            <td i="body" class="ui-dialog-body">
                                <div i="content" class="ui-dialog-content info_pop hf_box">
                       				<div class="row">
                       					<h3>登记详情</h3>
				                        <div class="col-xs-12 ui-one">
											<div class="input-label width150 txt_right fl">房源编号</div>
											<div class="from_input">
												<label class="from_label"></label>
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">产权编码</div>
											<div class="from_input">
												<label class="from_label"></label>
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">备案号</div>
											<div class="from_input">
												<label class="from_label"></label>
											</div>
										</div>
										<div class="col-xs-12 ui-one">
											<div class="input-label width150 txt_right fl">房源编号</div>
											<div class="from_input">
												<label class="from_label"></label>
											</div>
										</div>
									</div>
									<div class="row">
                       					<h3>业主信息</h3>
				                        <div class="col-xs-12 ui-one">
											<div class="input-label width150 txt_right fl">房源编号</div>
											<div class="from_input">
												<label class="from_label"></label>
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">产权编码</div>
											<div class="from_input">
												<label class="from_label"></label>
											</div>
										</div>
										<div class="col-xs-6 ui-one">
											<div class="input-label width150 txt_right fl">备案号</div>
											<div class="from_input">
												<label class="from_label"></label>
											</div>
										</div>
										<div class="col-xs-12 ui-one">
											<div class="input-label width150 txt_right fl">房源编号</div>
											<div class="from_input">
												<label class="from_label"></label>
											</div>
										</div>
									</div>
                 				</div>
              			 	</td>
                       	</tr>
                        <tr>
                            <td i="footer" class="ui-dialog-footer">
                                <div i="statusbar" class="ui-dialog-statusbar"></div>
                                <div i="button" class="ui-dialog-button">
                                    <button type="button" i-id="ok" autofocus="" class="ui-dialog-autofocus btn btn-secondary">保存</button>
                                    <button type="button" i-id="cancel" class="btn btn-gray ">取消</button>                                        
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        
        <!--委托书弹出框-->
        <div tabindex="-1" class="ui-popup ui-popup-modal ui-popup-show ui-popup-focus ui-back-model back-model-800" role="alertdialog" >
            <div i="dialog" class="ui-dialog">
                <div class="ui-dialog-arrow-a"></div>
                <div class="ui-dialog-arrow-b"></div>
                <table class="ui-dialog-grid">
                    <tbody>
                        <tr>
                            <td i="header" class="ui-dialog-header">
                                <button i="close" class="ui-dialog-close" title="cancel">×</button>
                                <div i="title" class="ui-dialog-title" >查看详情</div>
                            </td>
                        </tr>
                        <tr>
                            <td i="body" class="ui-dialog-body">
                                <div i="content" class="ui-dialog-content info_pop hf_box">
                       				<div class="row">
				                        <div class="col-xs-12 ui-one">
											<div class="input-label width150 txt_right fl">业主电话</div>
											<div class="from_input rifi_code_inphone fl">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
											<button class="Pro-btn btn-success">获取验证码</button>
										</div>
										<div class="col-xs-12 ui-one">
											<div class="input-label width150 txt_right fl">业主电话</div>
											<div class="from_input rifi_code_inphone fl">
												<input type="text" class="input-box pholder_color_cc" placeholder="请输入业主电话">
											</div>
											<label class="font12 red" style="line-height: 28px;">（请找业主获取验证码，30分钟内有效）</label>
										</div>
									</div>
									<div class="row">
                       					<h3>房源描述<span>该描述将展示给客户,详细,真是客观的描述,能获得更多的客户电话</span></h3>
				                        <div class="panel-body">
											<div class="nav_box">
												<ul>
													<li>
														价格分析+
													</li>
													<li>
														价格分析+
													</li>
													<li>
														价格分析+
													</li>
													<li>
														价格分析+
													</li>
													<li>
														价格分析+
													</li>
												</ul>
											</div>
											<div style="clear: both;"></div>
											<p class="tishi_new"><span>提示：</span> 可以点击添加，对房源进行更加详细的描述</p>
											<h4 class="tishi_bt"><span>*</span> <label>房源亮点</label> （介绍本房源具有竞争力的卖点，例如：房本满两年、新装修、楼层好等）</h4>
											<div style="clear: both;"></div>
											<div class="col-md-10">
					                          <textarea id="contentSimple1" name="content" class='form-control kindeditorSimple1' style="height:60px; width: 100%;">Hello, world!</textarea>
					                        </div>
					                        <div style="clear: both;"></div>
					                        <h4 class="tishi_bt"><span>*</span> <label>户型介绍 </label>（介绍本房源的户型情况，例如：户型周正、采光好、有阳台、赠送面积等）</h4>
					                        <div class="col-md-10">
					                          <textarea id="contentSimple1" name="content" class='form-control kindeditorSimple1' style="height:60px;width: 100%;">Hello, world!</textarea>
					                        </div>
										</div>
									</div>
                 				</div>
              			 	</td>
                       	</tr>
                        <tr>
                            <td i="footer" class="ui-dialog-footer">
                                <div i="statusbar" class="ui-dialog-statusbar"></div>
                                <div i="button" class="ui-dialog-button">
                                    <button type="button" i-id="ok" autofocus="" class="ui-dialog-autofocus btn btn-secondary">保存</button>
                                    <button type="button" i-id="cancel" class="btn btn-gray ">取消</button>                                        
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        
        
        
		<div class="page-wrapper-footer txt_right">
			<button class="btn btn-secondary">保存</button>
			<button class="btn btn-gray ">取消</button>
		</div>
	</body>
</html>
<script type="text/javascript" src="js/jquery.js" ></script>
<script>
	$(function(){
		$(".ptf_seaSelectM .ptf_haveSelM").click(function(){
			$(this).next().show();
		});
		$(".ptf_seaSelectM .ptf_priceSel ul li").click(function(){
			$(".ptf_priceSel").hide();
		});
		 $(".ptf_seaSelectM").mouseover(function (){  
	           $(this).next().show();  
	        }).mouseout(function (){  
	            $(this).next().hide();  
	        }); 
	});
</script>