<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房源审核</title>
    <%include("/admin/include/cssjs.html"){}%>
</head>
<body>
<div class="page-wrapper tion-house special_padd">
    <div class="page-wrapper-hread">
        房源审核
    </div>
    <div class="table-seach-box" id="search_condition">


    </div>

    <div class="page-wrapper-cont">
        <!--表格-->
        <table class="ui-check-table">
            <thead>
            <tr>
                <td>房源审核状态</td>
                <td>业务类型</td>
                <td>房源编号</td>
                <td>盘源类型</td>
                <td>楼盘名称</td>
                <td>栋</td>
                <td>单元</td>
                <td>房号</td>
                <td>户型</td>
                <td>价格</td>
                <td>面积</td>
                <td>业主姓名</td>
                <td>业主电话</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>未审核</td>
                <td>出售</td>
                <td><a href='###'>HR12345678</a></td>
                <td>C盘</td>
                <td>瑞都豪庭</td>
                <td>2栋</td>
                <td>1单元</td>
                <td>3202</td>
                <td>2*2*1*1*1</td>
                <td>75.00</td>
                <td>110.00</td>
                <td>是</td>
                <td>15364155219</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td>出售</td>
                <td><a href='###'>HR12345678</a></td>
                <td>C盘</td>
                <td>瑞都豪庭</td>
                <td>2栋</td>
                <td>1单元</td>
                <td>3202</td>
                <td>2*2*1*1*1</td>
                <td>75.00</td>
                <td>110.00</td>
                <td>是</td>
                <td>15364155219</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td>出售</td>
                <td><a href='###'>HR12345678</a></td>
                <td>C盘</td>
                <td>瑞都豪庭</td>
                <td>2栋</td>
                <td>1单元</td>
                <td>3202</td>
                <td>2*2*1*1*1</td>
                <td>75.00</td>
                <td>110.00</td>
                <td>是</td>
                <td>15364155219</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td>出售</td>
                <td><a href='###'>HR12345678</a></td>
                <td>C盘</td>
                <td>瑞都豪庭</td>
                <td>2栋</td>
                <td>1单元</td>
                <td>3202</td>
                <td>2*2*1*1*1</td>
                <td>75.00</td>
                <td>110.00</td>
                <td>是</td>
                <td>15364155219</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td>出售</td>
                <td><a href='###'>HR12345678</a></td>
                <td>C盘</td>
                <td>瑞都豪庭</td>
                <td>2栋</td>
                <td>1单元</td>
                <td>3202</td>
                <td>2*2*1*1*1</td>
                <td>75.00</td>
                <td>110.00</td>
                <td>是</td>
                <td>15364155219</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td>出售</td>
                <td><a href='###'>HR12345678</a></td>
                <td>C盘</td>
                <td>瑞都豪庭</td>
                <td>2栋</td>
                <td>1单元</td>
                <td>3202</td>
                <td>2*2*1*1*1</td>
                <td>75.00</td>
                <td>110.00</td>
                <td>是</td>
                <td>15364155219</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td>出售</td>
                <td><a href='###'>HR12345678</a></td>
                <td>C盘</td>
                <td>瑞都豪庭</td>
                <td>2栋</td>
                <td>1单元</td>
                <td>3202</td>
                <td>2*2*1*1*1</td>
                <td>75.00</td>
                <td>110.00</td>
                <td>是</td>
                <td>15364155219</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td>出售</td>
                <td><a href='###'>HR12345678</a></td>
                <td>C盘</td>
                <td>瑞都豪庭</td>
                <td>2栋</td>
                <td>1单元</td>
                <td>3202</td>
                <td>2*2*1*1*1</td>
                <td>75.00</td>
                <td>110.00</td>
                <td>是</td>
                <td>15364155219</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td>出售</td>
                <td><a href='###'>HR12345678</a></td>
                <td>C盘</td>
                <td>瑞都豪庭</td>
                <td>2栋</td>
                <td>1单元</td>
                <td>3202</td>
                <td>2*2*1*1*1</td>
                <td>75.00</td>
                <td>110.00</td>
                <td>是</td>
                <td>15364155219</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>
            <tr>
                <td>未审核</td>
                <td>出售</td>
                <td><a href='###'>HR12345678</a></td>
                <td>C盘</td>
                <td>瑞都豪庭</td>
                <td>2栋</td>
                <td>1单元</td>
                <td>3202</td>
                <td>2*2*1*1*1</td>
                <td>75.00</td>
                <td>110.00</td>
                <td>是</td>
                <td>15364155219</td>
                <td><button class="btn btn-gray">审核</button></td>
            </tr>

            </tbody>
        </table>
        <!--分页-->
        <div class="pager" data-pager="1001">
            <a href="javascript:;" class="pager-btn" data-p="1">首页</a>
            <a href="javascript:;" class="pager-item" data-p="1">1</a>
            <a href="javascript:;" class="pager-item active" data-p="2">2</a>
            <a href="javascript:;" class="pager-item" data-p="3">3</a>
            <a href="javascript:;" class="pager-item" data-p="4">4</a>
            <a href="javascript:;" class="pager-item" data-p="5">5</a>
            <a href="javascript:;" class="pager-item" data-p="6">6</a>
            <a href="javascript:;" class="pager-btn" title="20" data-p="20">尾页</a>
            <a href="javascript:;">转到</a><input type="text" class="pager-input" value="2">
            <a href="javascript:;" class="pager-goto-btn pager-btn pager-goto">跳转</a>
        </div>


    </div>

</div>

</body>
<%include("/admin/include/dialogTbl.html"){}%>
<%include("/admin/include/searchTpl.html"){}%>
<script>
    require(['house_District_check']);
</script>
</html>